.container {
  padding: 0.5rem 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(220, 221, 223);
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0.5rem;
  padding: 1rem 0;
  align-items: center;
}

.grid1 span {
  grid-column: 1 / span 3;
  font-size: 16px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: blue;
  border: 1px solid rgb(215, 215, 219);
  border-radius: 5px;
  padding: 10px;
}

.grid p span {
  font-weight: 500;
}
.grid p {
  font-size: 15px;
}

.p {
  font-size: 15px;
  font-weight: 500;
  margin-top: 1rem;
}
