.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.self-end {
  align-self: end;
}
.items-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

.justify-between {
  justify-content: space-between;
}

.items-end {
  align-items: end;
}

.gap-1 {
  gap: 0.5rem;
}
.gap-2 {
  gap: 2rem;
}

.w-fit {
  width: fit-content;
}

.text-lg {
  font-size: 18px;
}

.w-full {
  width: 100%;
}

.mt-3 {
  margin-top: 1rem;
}
.ml-1 {
  margin-left: 10px;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.bg-gray {
  background-color: #c3c3bb;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.text-sm {
  font-size: 14px;
}
.font-bold {
  font-weight: 500;
}

.w-fit {
  width: fit-content !important;
}
